body {
    font-family: 'Bungee Inline', cursive;
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: rgb(32, 25, 95);
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 100%;
    background-color: white;
}

header h1 {
    margin: 0px;
    padding: 0px;
    margin: 10px 0px 10px 0px;
}

.board-container {
    width: 560px;
    height: 560px;
    border: solid white 4px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 25, 95);
    margin-top: 15px;
}

.grid {
    width: 510px;
    height: 510px;
    display: grid;
    gap: 5px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    background-color: white;
}

.overlay {
    position: absolute;
    z-index: 1;
    background-color: rgb(32, 25, 95);
    border-radius: 10px;
    width: 510px;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.overlay button {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: white solid 2px;
    background-color: Transparent;
    color: white;
    font-size: 18px;
    margin: 10px;
    font-weight: bold;
    outline: none;
    text-transform: uppercase;
}

.overlay button:hover {
    background-color: white;
    color: rgb(32, 25, 95);
    cursor: pointer;
}

.overlay button:focus {
    background-color: white;
    color: rgb(32, 25, 95);
}

.game-spot {
    cursor: pointer;
    background-color: rgb(32, 25, 95);
    color: white;
    font-size: 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fredoka One', cursive;
}