body {
    font-family: 'Gloria Hallelujah', cursive;
    background-image: url(/images/natural_paper.png);
    margin: 0px;
    padding: 0px;
}

.game-header {
    display: flex;
    justify-content: center;
}

.game-title {
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Gloria Hallelujah', cursive;
    text-transform: uppercase;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 420px;
    height: 420px;
    margin: 0 auto;
    display: grid;  
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border-radius: 20px;
    background-image: url(/images/chalkboard-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 8px 8px 8px #333333;
    border: solid saddlebrown 4px;
    padding: 10px;
}

.game-spot {
    cursor: pointer;
    border-radius: 2px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: whitesmoke;
    border: whitesmoke solid 2px;
}

.game-spot:hover {
    border: 4px dotted darkblue;
    border-radius: 10px;
}

.button-container {
    display: flex;
    margin-top: 20px;
}

.button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    background: url("../images/wood_pattern.png");
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2), 
    inset 0px -5px 0px 0px rgba(0,0,0,0.3), 
    inset 0px 2px 0px 0px rgba(255,255,255,0.5);
    opacity: 0.8;
    margin: 5px 20px 5px 20px;
}

.button:hover {
    opacity: 1.0;
}

.button:active {
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2),
    inset 0px -2px 0px 0px rgba(0,0,0,0.3),
    inset 0px 2px 0px 0px rgba(255,255,255,0.5);
    top: 3px;
    padding-top: 9px;
}

.button:focus {
    outline: none;
    border: solid black 1px;
    opacity: 1.0; 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.footer p {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
}

.footer p a {
    text-decoration: none;
    color: darkblue;
}
